.notshow{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.pop-up{
    position:absolute;
    left: 37%;
    top: 30%;
    height: 20vh;
    width: 27%;
    border: 1.5px solid blue;
    border-radius: 20px;
    color: blue;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgb(56, 56, 192);
    background-color: white;
}
#add-new{
    opacity: 0.8;
    font-size: 17px;

}
.pop-upbar{
    margin-top: 20px;
    border-radius: 4px;
    width: 85%;
    height: 27%;
    border: 1.5px solid blue;
    box-shadow: 1px 1px 3px blue;

}
.pop-up-button{
    position: relative;
    background-color: blue;
    color: white;
    margin-top: 3%;
    height: auto;
    width: auto;
    font-size: 16px;
    border-radius: 18px;
    padding: 5px;
} 